  
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Feed</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../static/css/feed.css">
    
</head>    
<body>

    <header>
        <nav class="navbar">
            <div class="nav-menu">
                <div id="logo">
                    <a href=""
                    ><img src="/src/main/resources/static/img/AudiusCoinLogo.png" onload="SVGInject(this)"
                    /></a>
                </div>
                <ul class="nav-list">
                    <li><a href="/src/main/resources/templates/home/index.html" class="nav-link">Home</a></li>
                    <li><a href="../feed/feed.html" class="nav-link">Feed</a></li>
                    <li><a href="/src/main/resources/templates/profile/profile.html" class="nav-link">Profile</a></li>
                </ul>
            </div>
            <div class="nav-social">
                <!-- <form class="form-inline my-4 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="butn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
                <!-- <img src="img/login.png"/> -->
                <img src="/src/main/resources/static/img/exit.png"/>
            </div>
    
            <div class="bx mr-2"></div>
        </nav>
    </header>

        <div class="feedp">
            <div class="row">
                <div class="col">
                    <h1>Sobre Figueirense:</h1>  
                </div>
            </div>
            <div class="col">
                Figueirense Futebol Clube, mais conhecido como Figueirense e popularmente como Figueira,
                é um clube de futebol brasileiro da cidade de Florianópolis, capital do estado de Santa Catarina.
                Fundado em 12 de junho de 1921 na região central de Florianópolis localizada no bairro Estreito,
                suas cores são o preto e o branco
            </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/src/main/resources/static/img/AudiusCoinLogo.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">WILSON</h5>
            <p class="card-text">text, testeando card.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    
        <div class="feedp">
                <div class="row">
                    <div class="col">
                        <h1> Orlando Scarpelli:</h1>   
                    </div>
                    <div class="col">
                            Localizado em: Figueirense Futebol Clube
                            <br>
                            Endereço: R. Humaitá, 194 - Estreito, Florianópolis - SC, 88070-730
                            <br>
                            Telefone: (48) 3878-3956
                            <br>
                            Capacidade: 19.584
                            <br>
                            Time: Figueirense Futebol Clube
                            <br>
                            Inauguração: 13 de setembro de 1960
                            <br>
                            Proprietário: Figueirense Futebol Clube
                            <br>
                            Público recorde: 31.098 pessoas
                            <br>
                            Partida com mais público: Brasil 3 x 0 Chile 
                    <div class="estadio">
                        <img src="./img/scarpelli.png" alt="">
                    </div>      
                    </div>
                    
                </div>
            </div>

</body>